@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Sekuya&display=swap');

body {
  background-color: teal;
}

h1 {
  color: #111111;
  text-align: center;
}

.kobe-bryant {
  color: #3b0764;
  text-align: center;
}

.lebron-james {
  color: #7c2d12;
  text-align: center;
}

.michael-jordan {
  color: #991b1b;
  text-align: center;
}

.stephen-curry {
  color: #1e3a8a;
  text-align: center;
}



#NBA{
    BORDER: 5px solid black;
    text-align:center;
    PADDING: 10px;
    MARGIN: 10px;
    font-family: "Sekuya", system-ui;
}

#PRO-SPORTS{
    BORDER: 5px solid ORANGE;
    text-align:center;
    PADDING: 10px;
    font-family: "Sekuya", system-ui;
}

.players {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px;
}

/* Tablet */
@media (min-width: 768px) {
    .players {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .players {
        grid-template-columns: repeat(4, 1fr);
    }
}
