@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Sekuya&display=swap');

body{

 background-color:aqua;   
}

h1{
    color:gold;
    text-align:center;
} 

.kobe-bryant{
    color:purple;
    text-align:center;
}

.leBron-james{
    color:orange;
    text-align:center;
}

.michael-jordan{
    color:red;
    text-align:center;
}

.stephen-curry{
    color:blue;
    text-align:center;
}

#NBA{
    BORDER: 5px solid black;
    text-align:center;
    PADDING: 10px;
    MARGIN: 10px;
    font-family: "Sekuya", system-ui;
}

#PRO-SPORTS{
    BORDER: 5px solid ORANGE;
    text-align:center;
    PADDING: 10px;
    font-family: "Sekuya", system-ui;
}

.players {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px;
}

/* Tablet */
@media (min-width: 768px) {
    .players {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .players {
        grid-template-columns: repeat(4, 1fr);
    }
}